/* ============================================================ */

/* the below styling is for ALL PAGES */

body {
  background-color: #666666;
}

/* ============================================================ */

/* the below styling is for the HOME page */

.my-row {
  background-color: white;
  margin-top: 4%;
  padding-bottom: 5%;
  border: 5px solid #8c8c8c;
}

.row>header>h1 {
  padding-top: 2%;
  padding-left: 3%
}

.selfie {
  width: 90%;
  border: 5px solid #8c8c8c;
  margin-left: 3%;
}

.my-button {
  margin-left: 3%;
}

.my-footer {
  background-color: white;
  margin-top: 3%;
}

/* ============================================================ */

/* the below styling is for the PORTFOLIO page */

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.my-card {
  border: 5px solid #8c8c8c;
  margin-top: 4%;
}

/* ============================================================ */

/* the below styling is for the CONTACT page */

.myField {
  margin-top: 3%;
  margin-left: 2%;
}